<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign in</title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>

  <main>
    <p>waiting for you to click on the link...</p>
  </main>

  <script src="/js/listen.js"></script>

</body>

</html>
